<p>
  account works!
</p>
<div class="col s12 center-align">

  <h5>TRANSFERENCIA</h5>

  <form #registerForm="ngForm" (ngSubmit)="retireUser(registerForm)">
    <div class="row">


      <div class="input-field  col s12">
          <i class="material-icons prefix">credit_card</i>
          <input type="number" name="valorTransferencia" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena">
          <label for="number">Digite el numero de la cuenta</label>
        </div>
      <div class="input-field  col s12">
          <i class="material-icons prefix">import_export</i>
          <input type="number" name="valorTransferencia" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena">
          <label for="number">Digite el valor de la transferencia</label>
        </div>
      <div class="input-field  col s12">
          <i class="material-icons prefix">https</i>



  </form>

</div>