<div class="col s12 center-align">

        <h5>Registro</h5>

        <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
                <div class="row">
                        <div class="input-field  col s6 center-align">
                                <input type="text" name="nombre" #name="ngModel" [(ngModel)]="bancoService.myUser.name">
                                        <label for="nombre">Nombre</label>
                        </div>
                        <div class="input-field  col s6  center-align">
                                <input type="text" name="id" #name="ngModel" [(ngModel)]="bancoService.myUser.id">
                                <label for="id">Cedula</label>
                        </div>
                        <div class="input-field  col s6  center-align">
                                <input type="text" name="telefono" #name="ngModel" [(ngModel)]="bancoService.myUser.telefono">
                                <label for="telefono">Telefono</label>
                        </div>
                        <div class="input-field  col s6 ">
                                <input type="text" name="id_pais" #name="ngModel" [(ngModel)]="bancoService.myUser.id_pais">
                                <label for="id_pais">Pais</label>
                        </div>
                        <div class="input-field  col s12">
                                <input type="email" name="correo" #name="ngModel" [(ngModel)]="bancoService.myUser.correo">
                                <label for="email">Correo</label>
                        </div>
                        
                        <div class="input-field  col s12">
                                <input type="password" name="contrasena" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena">
                                <label for="password">Contraseña</label>
                        </div>
                        <div class="input-field  col s12">
                                <input type="text" name="numCuenta" #name="ngModel" [(ngModel)]="bancoService.myUser.numCuenta">
                                <label for="numCuenta">Numero de cuenta</label>
                        </div>

                        <a href="#" class="btn btn-danger"><button style="padding-inline-end: 5px">Registrarme</button></a>
                </div>
        </form>

</div>

