<div class="col s12 center-align">

        <h5>Registro</h5>

        <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
                <div class="row">
                        <div class="input-field  col s12 center-align">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" id="icon_prefix" name="nombre" #name="ngModel" [(ngModel)]="bancoService.myUser.nombre">
                                <label for="icon_prefix">Nombre</label>
                        </div>
                        <div class="input-field  col s6  center-align">
                                <i class="material-icons prefix">phone_android</i>
                                <input type="text" name="telefono" #name="ngModel" [(ngModel)]="bancoService.myUser.telefono">
                                <label for="telefono">Telefono</label>
                        </div>
                        <div class="input-field  col s6 ">
                                <i class="material-icons prefix">place</i>
                                <input type="text" name="id_pais" #name="ngModel" [(ngModel)]="bancoService.myUser.id_pais">
                                <label for="id_pais">Pais</label>
                        </div>
                        <div class="input-field  col s12">
                                <i class="material-icons prefix">email</i>
                                <input type="email" name="correo" #name="ngModel" [(ngModel)]="bancoService.myUser.correo">
                                <label for="email">Correo</label>
                        </div>

                        <div class="input-field  col s12">
                                <i class="material-icons prefix">https</i>
                                <input type="password" name="contrasena" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena">
                                <label for="password">Contraseña</label>
                        </div>
                        <div class="input-field  col s12">
                                <i class="material-icons prefix">
                                        confirmation_number</i>
                                <input type="text" name="numCuenta" #name="ngModel" [(ngModel)]="bancoService.myUser.numCuenta">
                                <label for="numCuenta">Numero de cuenta</label>
                        </div>

                        <div>
                                <a class="btn dropdown" href="" data-target="dropdown2">
                                        maldito boton<i class="material-icons right">arrow_drop_down</i></a>
                        </div>
                        <button href="" class=" waves-effect waves-light btn">Registrarme</button>
                </div>
        </form>

</div>