<div class="col s12 center-align">

        <h1>REGISTRO</h1>

        <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
                <div class="row">
                        <div class="col s12 center-align">
                                <input type="text" name="nombre" #name="ngModel" [(ngModel)]="bancoService.myUser.name"
                                        placeholder="Ingrese su nombre">
                        </div>
                        <div class="col s12">
                                <input type="text" name="id" #name="ngModel" [(ngModel)]="bancoService.myUser.id"
                                        placeholder="Ingrese su cedula">
                        </div>
                        <div class="col s12">
                                <input type="email" name="correo" #name="ngModel" [(ngModel)]="bancoService.myUser.correo"
                                        placeholder="Ingrese su correo">
                        </div>
                        <div class="col s12">
                                <input type="text" name="telefono" #name="ngModel" [(ngModel)]="bancoService.myUser.telefono"
                                        placeholder="Ingrese su telefono">
                        </div>
                        <div class="col s12">
                                <input type="password" name="contrasena" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena"
                                        placeholder="Ingrese su contraseña">
                        </div>
                        <div class="col s12">
                                <input type="text" name="id_pais" #name="ngModel" [(ngModel)]="bancoService.myUser.id_pais"
                                        placeholder="Ingrese su pais">
                        </div>
                        <div class="col s12">
                                <input type="text" name="numCuenta" #name="ngModel" [(ngModel)]="bancoService.myUser.numCuenta"
                                        placeholder="Ingrese su numero de cuenta">
                        </div>

                        <a href="#" class="btn btn-danger">Registrarme</a>
                </div>
        </form>

</div>