<br>
<div class="col s2 side-nav">
    <ul>
        <br>
        <br>
        <br>
        <li><a routerLink="/home">Inicio</a></li>
        <br>
        <br>
        <li><a routerLink="/retiro">Retiro</a></li>
        <br>
        <br>
        <li><a routerLink="/consignacion">Consignación</a></li>
        <br>
        <br>
        <li><a routerLink="/transferencia">Transferencia</a></li>
        <br>
        <br>
        <li><a routerLink="/movimientos">Mis movimientos bancarios</a></li>
    </ul>
    <br>
    <br>
    <br>
    <div class="row">
        <a routerLink="#" class="waves-effect waves-light btn">Cerrar sesion</a>
    </div>
</div>
<br>
<br>
<div class="col s1"></div>