<br>
<div class="col s2 side-nav">
    <ul>
        <br>
        <br>
        <br>
        <li><a href="/retiro">Retiro</a></li>
        <br>
        <br>
        <li><a href="/consignacion">Consignación</a></li>
        <br>
        <br>
        <li><a href="/transferencia">Transferencia</a></li>
        <br>
        <br>
        <li><a href="/registro">Movimientos bancarios</a></li>
    </ul>
    <br>
    <br>
    <br>
    <div class="row">
        <a href="#" class="waves-effect waves-light btn">Cerrar sesion</a>
    </div>
</div>
<br>
<br>
<div class="col s1"></div>