<div class="col s12 center-align">

  <h5>TRANSFERENCIA</h5>

  <form #registerForm="ngForm" (ngSubmit)="retireUser(registerForm)">
    <div class="row">


      <div class="input-field  col s12">
          <i class="material-icons prefix">credit_card</i>
          <input type="number" name="numeroCuenta" #name="ngModel" [(ngModel)]="bancoService.myUser.numeroCuenta">
          <label for="number">Digite el número de la cuenta</label>
        </div>
      <div class="input-field  col s12">
          <i class="material-icons prefix">attach_money</i>
          <input type="number" name="valorTransferencia" #name="ngModel" [(ngModel)]="bancoService.myUser.valorTransferencia">
          <label for="number">Digite el valor de la transferencia</label>
        </div>
      <div class="input-field  col s12">
          <i class="material-icons prefix">https</i>
          <input type="password" name="clave" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena">
          <label for="password">Digite la clave</label>
        </div>
    </div>

    <div class="row">
      <div class="col s6">
        <a href="" class="waves-effect waves-light btn">Transferir</a>
      </div>
      <div class="col s5">
        <a href="" class="waves-effect waves-light btn">Cancelar</a>
      </div>

    </div>

  </form>

</div>