<div class="row center-align">
    <br>
    <div class="col s2 side-nav">
        <ul>
            <br>
            <br>
            <li><a href="/login">Login</a></li>
            <br>
            <li><a href="/consignacion">Consignacion</a></li>
            <br>
            <li><a href="/retiro">Retiro</a></li>
            <br>
            <li><a href="/transferencia">Transferencia</a></li>
            <br>
            <li><a href="/registro">Registrarme</a></li>
            <br>
            <li><a href="/registro">Movimientos bancarios</a></li>
        </ul>
        <br>
        <br>
        <div class="row">
            <a href="#" class="waves-effect waves-light btn">Cerrar sesion</a>
        </div>
    </div>
    <br> 
    <br>
    <div class="col s1"></div>
    <div class="col s9 m7 center-align; z-depth-4" style=" right: 100px; background-color:rgb(255, 255, 255) ">

        <FONT FACE='Calibri'>
            <div class="container">   
            <router-outlet></router-outlet>
            </div>
        </FONT>

    </div>

</div>