<div class="container-fluid">
    <div class="row head">
        <div class="col s12 " style="background-color: rgb(137, 164, 253)">
            <h1>Sucursal virtual</h1>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s2" style="height: 630px; background-color:rgb(243, 179, 179)">
            <div aria-setsize="600px">
                <nav>
                    <div class="row center-align">
                        <ul>
                            <li>
                                <div class="user-view">
                                    <div class="background">
                                        <img src="./public/img/descarga.png">
                                    </div>
                                    <a href="#"><img class="circle" src="./public/img/descarga.png"></a>
                                    <a href="#"><span class="white-text name">Andres Quinto</span></a>
                                    <a href="#"><span class="white-text email">elQuinto@gmail.com</span></a>
                                </div>
                            </li>
                            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                            <li><a href="#!">Second Link</a></li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li><a class="subheader">Subheader</a></li>
                            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class=" col s2"></div>
        <div class="col s4 row center-align " style=" right: 100px; background-color:rgb(255, 255, 255) ">
            <FONT FACE='romans'>
                <app-transfer></app-transfer>
              
            </FONT>
        </div>
    </div>
</div>