<div class="col s12 center-align">

    <h5>Ingresar</h5>

    <form #registerForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <div class="row">
            <div class="col s12 center-align">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="bancoService.myUser.name" placeholder="Usuario">
            </div>
            <div class="col s12">
                <input type="text" name="password" #name="ngModel" [(ngModel)]="bancoService.myUser.password"
                    placeholder="Ingrese su contraseña">
            </div>
            <div class="row">
                <div class="col s6">
                    <a href="" class="waves-effect waves-light btn">Ingresar</a>
                </div>
                <div class="col s5">
                    <a href="" class="waves-effect waves-light btn">Registrarme</a>
                </div>

            </div>

        </div>
    </form>

</div>