<div class="col s12 center-align">

    <h5>Ingresar</h5>

    <form #registerForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <div class="row">
                <div class="input-field  col s12 center-align">
                        <i  class="material-icons prefix">account_circle</i>
                        <input type="text" id="icon_prefix" name="nombre" #name="ngModel" [(ngModel)]="bancoService.myUser.nombre">
                        <label for="icon_prefix">Digite su usuario</label>
                </div>
            <div class="input-field  col s12">
                    <i class="material-icons prefix">https</i>
                    <input type="number" name="clave" #name="ngModel" [(ngModel)]="bancoService.myUser.contrasena">
                    <label for="password">Digite su contraseña</label>
                  </div>
                  <div class="input-field  col s12">
                    <i class="material-icons prefix">fiber_pin</i>
                    <input type="number" name="codigo" #name="ngModel" [(ngModel)]="bancoService.myUser.codigo">
                    <label for="password">Digite su codigo</label>
                  </div>
            <div class="row">
                <div class="col s6">
                    <a href="" class="waves-effect waves-light btn">Ingresar</a>
                </div>
                <div class="col s5">
                    <a href="" class="waves-effect waves-light btn">Registrarme</a>
                </div>

            </div>

        </div>
    </form>

</div>