<div class="row head">
  <div class="col s12 z-depth-3" style="background-color:rgb(74, 170, 125); text-align: inherit">
    <font color="white" FACE = "Verdana">
    <h1 >BANCO INTERAMERICANO</h1>
    <a href="" style="color:white;">Login</a>
    
    <a href="" style="color:white;">Registrarme</a>

    <a href="" style="color:white;">Acerca de BID</a>
  </div>
</Font>
</div>

</nav>
<div class="slider">
  <ul class="slides">
    <li>
      <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>