

<div class="row">
  <h3>Promociones para esta navidad</h3>
</div>
<div class="row">
  <div class="col 12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://materializecss.com/images/sample-1.jpg">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
      </div>
      



      <div class="card-content">
        <span class="card-title">10% DCTO adicional para hacer mercado</span>
        <p>Es el momento de comprar tus regalos, en noviembre Alkosto y Ktronix tiendas fisicas y
          online traen ofertas para tus obsequios de navidad.</p>
        <p>Oferta válida del 28 de octubre al 12 de noviembre de 2018</p>
      </div>
      
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://materializecss.com/images/sample-1.jpg">
        <a class="btn modal-trigger halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">10% DCTO adicional para hacer mercado</span>
        <p>2x1 en bebidas preparadas en tiendas seleccionadas de la ciudad de Medellín y Cali;
          y a nivel nacional agrandado en las bebidas preparadas. </p>
        <p>Oferta válida del 28 de octubre al 12 de noviembre de 2018</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://materializecss.com/images/sample-1.jpg">
        <a class="btn modal-trigger halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Gana un IPhone con solo calmar tus antojos</span>
        <p>Compra en las máquinas de comida de Novaventa con tus medios de pago Bancolombia y gana,
          Iphone, tarjetas prepago, o una devolución a tu cuenta. ¡Dile a todos tus amigos y compañeros de trabajo!.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="https://materializecss.com/images/sample-1.jpg">
        <a class="btn modal-trigger halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <span class="card-title">Hasta 60% DCTO en TVs y Equipos de audio</span>
        <p>Para comprar y regalar en navidad, 0% de interés pagando con tarjeta de crédito a 6
          y 12 meses en las tiendas físicas del 1 de noviembre al 24 de diciembre de 2018. Aplican Condiciones.</p>
      </div>
    </div>
  </div>
</div>