<div class="col s12 center-align">

    <h5>INGRESAR</h5>

    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <div class="row">
                <div class="input-field  col s12 center-align">
                        <i  class="material-icons prefix">account_circle</i>
                        <input type="text" id="icon_prefix" name="nombre" #nombre="ngModel" [(ngModel)]="bancoService.credencial.nombre">
                        <label for="icon_prefix">Digite su usuario</label>
                </div>
            <div class="input-field  col s12">
                    <i class="material-icons prefix">https</i>
                    <input type="password" name="contrasena" #contrasena="ngModel" [(ngModel)]="bancoService.credencial.contrasena">
                    <label for="password">Digite su contraseña</label>
                  </div>
                  <div class="input-field  col s12">
                    <i class="material-icons prefix">fiber_pin</i>
                    <input type="password" name="codigo" #codigo="ngModel" [(ngModel)]="bancoService.credencial.codigo">
                    <label for="password">Digite su codigo</label>
                  </div>
            <div class="row">
                <div class="col s6">
                    <button class="waves-effect waves-light btn">Ingresar</button>
                </div>
                <div class="col s5">
                    <button routerLink="/registro" class="waves-effect waves-light btn">Registrarme</button>
                </div>

            </div>

        </div>
    </form>

</div>