<div class="container-fluid">
    <div class="row head">
        <div class="col s12 center-align">

            <h5>Consignar</h5>

            <form #registerForm="ngForm" (ngSubmit)="consignmentterUser(consignmentForm)">
                <div class="row">
                    <div class="col s12 center-align">
                        <input type="text" name="name" #name="ngModel" [(ngModel)]="bancoService.myUser.name" placeholder="¿Tipo de cuenta?">
                    </div>
                    <div class="col s12">
                        <input type="text" name="number" #name="ngModel" [(ngModel)]="bancoService.myUser.cc" placeholder="Digite el número de cuenta">
                    </div>
                    <div class="col s12">
                        <input type="text" name="number" #name="ngModel" [(ngModel)]="bancoService.myUser.addres" placeholder="Monto a consignar">
                    </div>
                    <div class="col s12">
                        <input type="text" name="addres" #name="ngModel" [(ngModel)]="bancoService.myUser.clave" placeholder="Digite su clave">
                    </div>
                </div>
                <div class="row">
                    <a href="" class="waves-effect waves-light btn">Consignar</a>
                </div>
            </form>

        </div>
    </div>
</div>